/net-beans-projekti/ajankaytto-analysaattori/nbproject/private/
/Ajankayttokirjanpito/nbproject/private/
/Ajankayttokirjanpito/build/
/Ajankayttokirjanpito/dist/
/Ajankayttokirjanpito/kirjaukset.txt
/Ajankayttokirjanpito/seurattavatToiminnot.txt
/Ajankayttokirjanpito/kursori.txt
/kirjaukset.txt
/kursori.txt
/seurattavatToiminnot.txt
/DnD_DM_Tool_03_3/
/katselmointi/
/kurssikirjanpito-master/
/kurssikirjanpito-master.zip
/vanha-projekti
/dokumentointi/legacy/
/dokumentointi/roskis/
